<%= link_to "Reply", "#", :class=>:shytoggle %>
<div class="shybox" style="display:none">
  <%= form_for @new_post, :html => {:multipart => true} do |f| %>
    <%= f.hidden_field :parent_id, :value=>post.id %>
    <%= f.text_area :body %><br>


    <div class="attachment_fields">
      <%= button_tag "Remove Attachment", :class=>"add_attachment" %>
      <%= fields_for @new_attachment do |f| %>
        <%= f.label :file, "Attachment: " %>
        <%= f.file_field :file %><br>
        <%= f.hidden_field :post_id, :value=>post.id %>
      <% end %>
    </div>

    <%= button_tag "Add Attachment", :class=>"add_attachment" %>
    <%= submit_tag "Submit" %>
    <%= button_tag "Cancel", :class=>"hide_parent" %>
  <% end %>
</div>
