<div class="post">
  <%= image_tag post.user.gravatar, :class=>"avatar" %>
  <div class="body"><%= post.body %>
  

  </div>
  <div class="who_when">
    posted by <%= post.user.nickname %>
    <%= time_ago_in_words post.created_at %> ago
  </div>
  <div class="actions">
    <% if user_signed_in? %>
      <%= render :partial => 'new_comment', :locals=>{:post=>post} if depth < Post::DEPTH_LIMIT %>
    <% end %>
  </div>
  <div class="attachments">
    <% post.attachments.each do |a| %>
      <%= link_to a.file_identifier, a.file_url %> attached by <%= a.user.nickname %> <%= time_ago_in_words a.created_at %>
    <% end %>
  </div>
  <% if replies = post.replies %>
    <div class="children">
      <% replies.each do |reply| %>
        <%= render :partial => 'post', :locals=>{:post=>reply, :depth=>depth+1} %>
      <% end %>
    </div>
  <% end %>  
</div>
