<div class="post">
  <%= image_tag post.user.gravatar, :class=>"avatar" %>
  <div class="body"><%= post.body %>
  

  </div>
  <div class="who_when">
    posted by <%= post.user.nickname %>
    <%= time_ago_in_words post.created_at %> ago
  </div>
  <% if user_signed_in? %>
    <div class="actions">
    <%= link_to_new_post("Reply", :parent=>post) if can_nest? depth %>
    </div>
  <% end %>

  <% if (attachments = post.attachments) && attachments.any? %>
    <div class="attachments">
      <% attachments.each do |a| %>
        <%= link_to a.file_identifier, a.file_url %>
      <% end %>
    </div>
  <% end %>
  
  <% if replies = post.replies %>
    <div class="children">
      <% replies.each do |reply| %>
        <%= render_post reply, :depth=>depth %>
      <% end %>
    </div>
  <% end %>  
</div>
