<div id="search">
  <%= text_field_tag :search %>
  <%= button_tag "Search" %>
</div>
<div id="filters">
  <%= button_tag "All Uploads" %>
  <%= select_tag :time_filter, options_for_select(["From Last Week"])%>
</div>
<div id="posts">
  <%= link_to_new_post("New Thread") if user_signed_in? %>
  <% @posts.each do |post| %>
    <div class="top_level">
      <%= render_post post %>
    </div>
  <% end %>
  <center><%= link_to "Return to top", "#" %></center>
</div>
