<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>
  <p><b><%= @author.nickname %> has contributed discussion @
  <%= link_to 'cry.li/talk', 'http://cry.li/talk' %></b></p>

  <p><%= link_to 'Jump to the thread', "http://cry.li:6111/talk/post/#{@post.top_level.id}" %> </p>
  <p><%= @author.nickname %> says <br><%= @post.body.html_safe %></p>
  <p><%= link_to 'Jump to the thread', "http://cry.li:6111/talk/post/#{@post.top_level.id}" %> </p>
  
</body>
</html>
