<!DOCTYPE html>
<html>
<head>
  <title>Devsphere::Talk</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? %>
    <p class="flash notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="flash alert"><%= alert %></p>
  <% end %>

  <div id="talkwrapper">
    <div id="rightcol">
      <%= custom_time Time.now %>
      <p class="alert">You must be logged in to post or view file attachments</p>
      <%= render :partial=>"user_nav" %>
      <%= render :partial=>"file_list" if user_signed_in? && @files.present? %>
    </div>
    <div id="content">
      <div id="links">
        <% talk_links.each do |k,v| %>
          <%= link_to k, v %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
